<div class="container">
    <div class="tbhead">
        <h1>User List</h1>
    </div>
    <div class="grid-view">
        <table id="user">
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>MAIL</th>
                <th>GENDER</th>
                <th>STATUS</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td><a [routerLink]="['/useredit', user.id]" id="viewDetails">{{user.name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.status}}</td>
                <td><a [routerLink]="['/useredit', user.id]" class="btn btn-warning">View Details</a></td>
            </tr>
        </table>
    </div>
    <div class="list-view">
        <table id="user">
            <tr>
                <th>NAME</th>
            </tr>
            <tr *ngFor="let user of users">
                <td><a [routerLink]="['/useredit', user.id]" id="viewDetails">{{user.name}}</a></td>
            </tr>
        </table>
    </div>
    <div class="btn-add">
        <button class="btn btn-primary" routerLink="/newuser">Add User</button>
    </div>
</div>

